.xsmall{
    font-size: 70%;
}

.obj-file {
    padding: 1em;
    border: 1px solid grey;
    background-color: #eeeeee;
}

nav.model {
    margin-top: .5em;
    margin-bottom: .5em;
}

.model-button {
    margin: .25em;
}

