a {
    color: #3b8bba;
    text-decoration: none;
}

a:hover {
    color: inherit;
    cursor: pointer;
}

.xsmall{
    font-size: 70%;
}

.intro {
    margin-top: 1em;
    margin-bottom: 1em;
}

.section {
    margin-bottom: 1em;
}

.section label,
.section .pure-button{
    margin-right: 1em;
}

/* data displays */

.obj-file {
    margin: 0.5em;
    padding: 1em;
    border: 1px solid grey;
    background-color: #eeeeee;
}
.pretty-json {
    margin: 0.5em;
    padding: 1em;
    color: grey;
    border: 1px solid grey;
}

/* nav */

nav.model {
    margin-top: .5em;
    margin-bottom: .5em;
}

.model-button {
    margin: .25em;
}

/* parser progress */
.parser.loading {
    display: inline-block;
    padding: 1em;
    animation: loading .75s infinite alternate;
    border: 1px solid rgb(94, 185, 94);
}

.parser.ready {
    display: none;
}

@keyframes loading {
    from { background-color: rgb(94, 185, 94); }
    to { background-color: rgb(255, 255, 255); }
}
